@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; } 

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color:#E7E5D9;
} 

*, *::before, *::after {
    box-sizing: inherit;
}

.title {
    display: inline-block;
    background-color: #E7E5D9;
    vertical-align: middle;
    margin: 0
}

.logo {
    vertical-align: middle;
    margin: 0 0.4em 0;
    width: 1em;
}
    

.masthead {
    background: url(/Users/shelbyboyd/Documents/Graphic%20Design%203%20F%202014/Graphic%20Design%204W/Web%20Development%203/week%201%20/assignment1/dsn1676-assignment1/images/masthead-bg.png) repeat;
    text-align: center;
}

